.menuContainer {
  position: relative;
  display: inline-block;
}

.menuBtn {
  background: transparent;
  color: white;

  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.menuBtn:hover {
  color: #ddd;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  min-width: 160px;
  padding: 8px 0;
  margin-top: 4px;
  font-size: 16px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
}

.menuList {
  position: absolute;
  top: 38px;
  left: 0;
  background: #333;
  padding: 10px 0;
  border-radius: 12px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  min-width: 120px;
  z-index: 1000;
}

.menuItem {
  padding: 0;
}

.menuItem a {
  display: block;
  width: 100%;
  padding: 4px 16px;
  clear: both;
  color: #212529;
  text-decoration: none;
  white-space: nowrap;
}

.menuLink:hover,
.menuLink:focus {
  color: #ddd;
}
