.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 20px;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px;
}

.content {
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
